nicegui==2.20.0
trimesh==4.6.12
numpy
aiofiles
aiohttp
certifi
docutils
fastapi
h11
httpx
ifaddr
itsdangerous
jinja2
markdown2
orjson
Pygments
python-engineio
python-multipart
python-socketio
requests
starlette
typing-extensions
urllib3
uvicorn
vbuild
watchfiles